---
layout: archive
title: "Talks and seminars"
permalink: /talks/
author_profile: true
---
A complete list with summaries (in Italian) of all the seminars and talks I have attended can be found <a href="https://geometrino.wordpress.com/category/seminari/">here</a>
Below a selection of talks I have given in different contexts. 

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
